# This is a basic workflow to help you get started with Actions

name: 'Terraform'

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: 
    - main

  # Allows you to run this workflow manually from the Actions tab
  # A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  terraform:
    runs-on: ubuntu-latest
    
      
    # The type of runner that the job will run on
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
       - name: Checkout repository
         uses: actions/checkout@v2
         with:
           token: ${{secrets.GITHUB_TOKEN}}
       - name: Set up Terraform
         uses: hashicorp/setup-terraform@v1
         with:
          terraform_version: '1.1.0'
       - name: Install Azure CLI
         run: |
          sudo apt-get update && sudo apt-get install -y ca-certificates curl apt-transport-https lsb-release gnupg
          curl -sL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor -o /usr/share/keyrings/microsoft-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/microsoft-archive-keyring.gpg] https://packages.microsoft.com/debian/$(lsb_release -sr)/prod $(lsb_release -sr) main" | sudo tee /etc/apt/sources.list.d/azure-cli.list > /dev/null
          sudo apt-get update && sudo apt-get install -y azure-cli
       - uses: Azure/login@v1
         with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
      # Runs a single command using the runners shell
       - name: Initialize Terraform
         run: terraform init

       - name: Terraform Plan
         run: terraform plan -out=tfplan

       - name: Apply Terraform
         run: terraform apply tfplan -auto-approve
          
